
body {
  margin: 0;
}

/* Style the header */
.header {
  background: url(12.jpg);
  padding: 85px;  
  height:90px;
}

p {

color:#000000;
  text-align: center;
  font-size: 30px;
} 

.button {

width: 200px;
height:60px;
line-height: 50px;
font-size:25px;
text-align:center;
color:white;
background:#000000;
border:2px solid;
border-radius:15px;
}

body {
	background-color:#EBDDE2;
  }
  
  